@import '~nytpi-sass-utils/index';
@import '~nytpi-sass-utils/size-class';
@import '~nytpi-sass-utils/font-size';


@include size-class(shell) {
    :root{
        --h3-size: 33px;
        --h3-line-height: 45px;
        --p-size: 22px;
        --p-line-height: 25px;
        --p-space: 1.6px;
    }
}
@include size-class(tablet-portrait) {
    :root{
        --radius: 5px;
        --h3-size: 2.5vw;
        --h3-line-height: 3vw;
        --p-size: 2vw;
        --p-line-height: 2.1vw;
         --cta-padding: 1.5% 2.5%;
    }
}
@include size-class(regular) {
    :root{
        --show-desktop: block;
        --show-mobile: none !important;
        --h3-size: 2.1vw;
        --h3-line-height: 2.8vw;
        --p-size: 1.5vw;
        --p-line-height: 1.6vw;
        --cta-top: 3%;
        --cta-padding: 1.2% 2%;
        --p-space: 2px;
        --radius: 8px;
    }
}
@include size-class(compact) {
    :root{
        --h3-size: 5vw;
        --h3-line-height: 7.5vw;
        --p-size: 5.6vw;
        --p-line-height: 6.3vw;
        --p-space: 2px;
        --show-desktop: none !important;
        --cta-top: 9%;
        --cta-padding: 4% 6%;
        --show-mobile: block;
        --radius: 8px;
        --foot-m-top: 15%;
    }
}
.showDesktop{
    display: var(--show-desktop);
}
.showMobile{
    display: var(--show-mobile);
}
.Footer {
    position: relative;
    overflow: hidden;
    margin-top: var(--foot-m-top);
    a{
        outline: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        -o-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
    }
    .backImage{
        position: relative;
        z-index: 1;
    }
    .footerMain{
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
        width: 100%;
        h3{
            font-style: normal;
            font-weight: normal;
            font-size: var(--h3-size);
            line-height: var(--h3-line-height);
            color: #fff;
            text-align: center;
            letter-spacing: 1px;
        }
        .cta{
            // width: 45.8%;
            background-color: #d52b1e;
            border-radius: var(--radius);
            text-align: center;
            padding: var(--cta-padding);
            display: inline-block;
            margin-top: var(--cta-top);
            font-size: 0 !important;
            // transition: background-color 0.3s ease;
            p{
                font-size: var(--p-size);
                line-height: var(--p-line-height);
                text-align: center;
                color: #fff;
                display: inline-block;
                font-weight: 700;
                margin-bottom: 0;
                letter-spacing: var(--p-space);
                // transition: color 0.3s ease;
            }
        }
        .logo{
            position: static;
            width: 31.5%;
            margin: 10% auto 0;
        }
        
    }
    .logo{
        position: absolute;
        bottom: 15%;
        right: 7%;
        z-index: 2;
        width: 8%;
    }
}

// [desktop]{
//     .Footer{
//         &:hover{
//             .cta{
//                 background: #000;
//                 p{
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }
[tablet]{
    .Footer{
        h3{
            font-weight: 400 !important;
        }
    }
}
[iphone]{
    .Footer{
        h3{
            font-weight: 400 !important;
        }
    }
}
[mac]{
    .Footer{
        h3{
            font-weight: 300;
        }
    }
}
